*{

margin: 0;
padding: 0px;
}

body{
    background-color: #d0e5ef;
    text-align: center;
}

/* heading */

.heading{
    background-image: url(heading.gif);
    height: 200px;
    width: 80%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;

}

/*game */

.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    background-color: white;
    box-shadow:  0 0 1rem rgba(0,0,0,0.1);
    color: rgb(153, 153, 153);
    font-size: 8vmin;
    
}

.box:hover{
    border-style: solid;  
    border-color: #d0e5ef;
    border-width: 2px;
}



/*reset game button */

#reset-btn{
   background-image: url(reset.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 7vmin;
    width: 7vmin;
    border: none;
}

#reset-btn:hover{
    border-style: solid;  
    border-color: #d0e5ef;
    border-width: 2px;
}


.msg-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; 

}

.msg-winner {
    background-image: url(win.gif);
    width: 50%;
    height: 70vmin;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 2.5vmin;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#new-btn{
    background-image: url(new.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 7.5vmin;
    width: 25.5vmin;
    border: none;
    border-radius: 0.75rem;

}

#new-btn:hover{
    border-style: solid;  
    border-color: #d0e5ef;
    border-width: 1px;
}


.hide{
    display: none;
}